@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  position: relative;
}

header h1 {
  position: relative;
  top: 10px;
  left: 40px;
}

a {
  color: #000;
}

.index {
  font-family: "Cormorant Garamond", serif;
  font-size: 20rem;
  color: rgba(0, 0, 0, 0.17);
}

ul {
  list-style: none;
  justify-content: center;
}
a {
  text-decoration: none;
}
#header {
  background-image: url(../image/hero999.png);
  background-size: cover;
  height: calc(100vh);
  width: auto;
  object-fit: cover;
}

.header-nav-wrap {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.header-nav-wrap nav ul {
  margin-top: 10px;
}
#global-nav {
  margin: 0 auto;
}

.nav ul {
  display: flex;
}

.nav ul li a {
  font-size: 2rem;
  padding: 0 50px;
  color: white;
  text-align: center;
}

.nav ul li :hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.nav2 ul li :hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;

  transition: 0.4s;
}

li + li {
  border-left: 1px solid rgb(255, 255, 255);
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  font-family: "Noto Serif JP", serif;
  /* height: 200px; */
}
.header-text img {
  display: flex;
  display: block;
  margin: 0 auto;
  padding-top: 55px;
}

/* スクロールが入ります */

#titile {
  font-size: 15rem;
}

#title {
  font-family: "Cormorant Garamond", serif;
  margin: 170px 0 0 135px;
  font-size: 15rem;
}

/* フェードイン */

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.7s;
}

.fadein.scrollin,
.fadein2.scrollin,
.fadein3.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.fadein2 {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1.5s;
}

.fadein3 {
  opacity: 0;
  transform: translate(0, 60px);
  transition: all 2.5s;
}

.title-wrap {
  display: flex;
}

.title-wrap img {
  display: block;

  width: 60%;
}

#sub-title {
  font-family: "Noto Serif JP", serif;
  font-size: 2.8rem;
  margin: 170px 50px 0 135px;
  width: 40%;
  color: #525050;
  line-height: 2;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#sub-title span {
  font-size: 5rem;
  color: black;
  font-feature-settings: "palt";
}

.value {
  display: flex;
  margin: 200px 0 0 150px;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.proposition {
  display: flex;
}

.proposition-img img {
  width: 100%;
}

.proposition-text {
  margin-right: 10px;
  margin-left: 50px;
  width: 50%;
  font-size: 1.8rem;
  border-bottom: 1px solid rgb(197, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
#menter h2 {
  margin: 150px 0 0 225px;
}
.menter-wrap {
  display: flex;
  flex-wrap: wrap;
}
.menter-box {
  display: flex;
  margin-top: 15px;
  width: 50%;
  justify-content: center;
}

.job {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.name {
  font-size: 2rem;
  margin-bottom: 15px;
}
.name span {
  font-size: 1.2rem;
}
.menter-prof {
  width: 350px;
  padding-left: 13px;
  margin-top: 10px;
}

.menter-prof p {
  color: #525050;
}

.btn-more {
  font-size: 1.6rem;
  display: block;
  position: relative;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border-radius: 30px;
  border: 1px solid rgb(71, 71, 71);
  margin: 60px auto 0 auto;
}

.btn-more:hover {
  background: #2669ff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.service h2 {
  margin-top: 150px;
  text-align: center;
}
.benefits-wrap {
  background: linear-gradient(120deg, hsl(0, 0%, 86%) 0%, #5a5a5a 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 70px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  text-align: center;
}

.item img {
  width: 65%;
  padding: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.item p {
  margin-top: 20px;
}

.about {
  margin-top: 200px;
  position: relative;
}

.about h2 {
  position: absolute;
  right: 5px;
  font-size: 250px;
}

.img-wrap {
  position: relative;
  width: 100%;
}

.img-wrap .img {
  position: absolute;
}
.img1 {
  top: 120px;
  right: 170px;
  z-index: -1;
  width: 35vw;
}
.img1 img {
  width: 100%;
}
.img2 {
  top: 250px;
  left: 90px;
  z-index: -3;
  width: 40vw;
}

.img2 img {
  width: 100%;
}

.img3 {
  top: 500px;
  left: 400px;
  z-index: -2;
  width: 50vw;
}

.img3 img {
  width: 100%;
}

.img4 {
  top: 940px;
  right: 45px;
  z-index: -1;
  width: 35vw;
}

.img4 img {
  width: 100%;
}

.img5 {
  top: 1000px;
  left: 150px;
  z-index: -3;
  width: 40vw;
}

.img5 img {
  width: 100%;
}

.access h2 {
  margin-top: 2000px;
  text-align: center;
}
.location-map {
  display: flex;
  height: 800px;
}
.map {
  width: 65%;
}

iframe {
  width: 100%;
  height: 800px;
}

.contact-wrap {
  background-color: #262626;
  width: 35%;
  height: 800px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 2.2;
}

dt {
  font-size: 2rem;
}

dd {
  font-size: 1.4rem;
}

.add a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.contact-wrap a {
  color: #fff;
}

/* ページトップが入ります */

footer {
  background-color: black;
  text-align: center;
  height: auto;
}

footer h1 {
  margin: 30px 0;
}
.footer-nav ul li :hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.insta-icon {
  width: 50px;
}

.twitter-icon,
.facebook-icon {
  width: 40px;
  margin: 0 3px;
}
.line-icon {
  width: 40px;
}

small {
  color: white;
}

/* sistem  ここから*/

#sistem-header {
  background-image: url(../image/sistem.png);
  height: 440px;
  width: 100%;
  background-size: cover;
}

header h2 {
  color: #fff;
  margin-top: 120px;
  text-align: center;
  font-size: 8rem;
}

.cat3 {
  line-height: 0.9em;
  text-align: center;
}

.sistem-box {
  margin: 10px 100px;
  display: flex;
  justify-content: space-around;
}

.box div {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 24vw;
  height: 24vw;
  border: 1px solid #1b1b1b;
  display: flex;
  font-size: 7rem;
  color: #524f4f;
}

.sistem-menu {
  margin-top: 100px;
  text-align: center;
}

.box {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  text-shadow: 1px 1px 8px rgba(84, 84, 84, 0.75);
}

.free-img img {
  width: 100%;
  padding: 0 100px;
}

.menu-wrap {
  display: flex;
}

.free-menu {
  width: 70%;
  padding-left: 100px;
  /* 改行なし */
  white-space: nowrap;
}

.menu-list::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 90px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

.menu-list::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 45px 90px;
  border-color: transparent transparent #ffffff transparent;
}

.meeting {
  line-height: 0.6em;
  margin-bottom: 60px;
}

.menu-list {
  position: relative;
  margin: 10px;
  background-color: #edebeb;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.accent {
  font-size: 2.5rem;
  color: #2669ff;
}

.note {
  margin: 0 10px;
  border-left: 1px solid #000;
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-box {
  line-height: 3rem;
}

.note p {
  font-size: 1.4rem;
  text-align: center;
}

.contact-block {
  text-align: center;
}

.contact-text {
  margin-top: 50px;
  font-size: 4rem;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 50px;
}

.btn1 {
  background-color: rgb(0, 0, 0);
  color: #000;
  border:1px solid black; 
  width: 40%;
  padding: 70px;
}

.btn1 a{
  color: rgb(255, 255, 255);
}

.btn2 {
  background-color: rgb(255, 255, 255);
  color: white;
  border:1px solid black; 
  width: 40%;
  padding: 53px;
}

/* トピックスが入ります */

#topics-header {
  background-image: url(../image/topics.png);
  height: 440px;
  width: 100%;
  background-size: cover;
}

.news {
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  line-height: center;
}

.news-title {
  font-size: 15rem;
  width: 30%;
  color: #707070;
  margin: 35px;
}

.news-item div {
  display: flex;
  justify-content: start;
  border-bottom: 1px dotted #707070;
  padding: 10px;
}

.news-box {
  width: 70%;
  margin: 0 auto;
}

.news-wrap {
  width: 70%;
}

.time {
  font-size: 1.2rem;
}

.text {
  font-size: 1.6rem;
  margin-left: 50px;
}

/* 帯 */

.event-box {
  position: relative;
}

.info {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 112px;
  height: 30px;
  color: #fff;
  background-color: #7a9eef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #0215ba transparent transparent;
}

.event-img {
  position: relative;
}

.event-img img {
  width: 100%;
}

.event-box a {
  display: block;
}

.event-img::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #ffffff transparent;
}

.event-title {
  margin-top: 150px;
  margin-right: 50px;
  font-size: 15rem;
  color: #707070;
  text-align: right;
}

.event-wrap {
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .event-text {
  width: 100%;
} */

.event-box {
  width: 100%;
  padding: 0 15px;
}

.event-text h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
}

.event-text p {
  margin: 20px 0;
}

.event-text ul {
  display: flex;
  justify-content: flex-start;
}

.event-text ul li {
  font-size: 1rem;
}

.tag {
  padding-right: 10px;
}

.tag2 {
  border-left: 1px solid #707070;
  padding-left: 10px;
}

.page-btn {
  display: flex;
  justify-content: center;
}

.btn-box {
  margin: 30px;
}

.btn-wrap {
  text-decoration: none;
  margin: 5px;
  width: 20px;
  height: 20px;
  background-color: #1e57d6;
  border: #fff;
  border-radius: 5px;
}

.btn-wrap:hover {
  background-color: rgba(30, 88, 214, 0.726);
}

.btn-wrap a {
  color: #ffffff;
}

/* コンタクト */
#contact {
  text-align: center;
}

#contact-header {
  background-image: url(../image/contct.png);
  height: 440px;
  width: 100%;
  background-size: cover;
}

form {
  margin: 50px;
}
form span {
  height: 15px;
  color: white;
  background-color: #f95454;
  border-radius: 5px;
}

label {
  font-size: 2rem;
  display: block;
  text-align: left;
  width: 60%;
  margin: 15px auto;
}

.contact-title {
  margin-top: 50px;
  display: inline-block;
  font-size: 4rem;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.read {
  text-align: left;
  font-size: 2rem;
  margin-top: 50px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  border: 2px solid #666666;
  border-radius: 8px;
  background-color: #e7e7e7;
}

textarea {
  width: 100%;
  height: 300px;
  background: #fafafa;
  padding: 0.8em;
  font-size: 2rem;
  border-radius: 8px;
  border: 2px solid #666;
  background-color: #e7e7e7;
}

input[type="submit"] {
  margin-top: 20px;
  width: 30%;
  padding: 15px;
  font-size: 2.5rem;
  color: white;
  background-color: #adadad;
}

input[type="submit"]:hover {
  background-color: rgb(87, 87, 87);
}

/* レスポンシブ  */
@media screen and (max-width: 1199px) {
  .nav ul li a {
    padding: 0 30px;
  }

  #title {
    margin-top: 120px;
    font-size: 12rem;
  }
  .value {
    margin-left: 30px;
  }

  #sub-title {
    margin: 50px 30px 0 100px;
  }

  .title-wrap img {
    width: 49%;
  }
  .about h2 {
    right: 0;
  }
  .img2 {
    top: 220px;
    left: 0;
  }
  .img3 {
    top: 500px;
    left: 300px;
  }

  .img4 {
    top: 880px;
  }
  .img5 {
    top: 900px;
    left: 50px;
  }
  .access h2 {
    margin-top: 1600px;
  }
  .news {
    margin-left: 50px;
  }
  .event-title {
    margin-right: 150px;
  }
  .event-wrap {
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  header h1 img {
    padding: 15px;
  }

  a {
    text-decoration: none;
  }
  .menuButton {
    display: block;
    height: 50px;
    width: 50px;
    background: rgba(56, 56, 56, 0.555);
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.3s;
    z-index: 2;
  }

  .menuButton div {
    height: 1px;
    width: 60%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  .menuButton.active {
    transform: rotate(180deg);
  }

  .menuButton div:nth-of-type(1) {
    transform: translate(-50%, -15px);
  }
  .menuButton div:nth-of-type(3) {
    transform: translate(-50%, 15px);
  }

  .menuButton.active div:nth-of-type(1) {
    transform: rotate(45deg) translate(-50%, -0);
    transform-origin: 0% 50%;
  }
  .menuButton.active div:nth-of-type(2) {
    /* opacity: 0; */
    width: 80%;
    height: 80%;
    border: 1px solid white;
    background-color: transparent;
  }
  .menuButton.active div:nth-of-type(3) {
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

  #global-nav {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: 0.3s;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 1;
    font-size: 3rem;
    height: 100vh;
    width: 100%;
  }

  #global-nav ul {
    display: flex;
    height: 100%;
  }

  #global-nav ul li:not(:first-of-type) {
    margin-top: 20px;
  }

  #global-nav.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: rgba(17, 17, 17, 0.767);
  }

  .nav-wrap {
    flex-direction: column;
  }

  .header-nav-wrap nav ul {
    margin-top: 0;
  }

  .fadein,
  .fadein2,
  .fadein3 {
    transition: all 0.4s;
  }

  header h1 {
    top: 0px;
    left: 0;
  }

  .header-text {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-text h2 {
    font-size: 2.5rem;
  }

  #title {
    font-size: 4rem;
    margin-top: 50px;
    margin-left: 10px;
  }

  #sub-title {
    margin: 10px 0 0 10px;
    font-size: 1rem;
  }

  #sub-title span {
    font-size: 1.8rem;
  }

  .title-wrap img {
    display: none;
  }

  .value {
    display: block;
    margin-top: 50px;
    margin-left: 0;
  }

  .vertical {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
  }

  .proposition {
    display: block;
  }

  .proposition-img {
    width: 100%;
    margin-left: 0;
  }

  .proposition-text {
    margin-left: 0;
    padding: 15px 0;
    border: none;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
  }

  .item {
    margin: 10px;
    height: 150px;
    width: 150px;
  }

  .index {
    font-size: 9rem;
    text-align: center;
  }

  #about {
    font-size: 9rem;
  }

  .about {
    margin-top: 100px;
  }

  .about h2 {
    position: static;
    right: 5px;
    font-size: 250px;
  }

  .img-wrap {
    width: 100%;
  }

  .img-wrap .img {
    position: static;
    width: 100%;
  }

  #menter h2 {
    margin: 50px 0 20px 0;
  }

  .menter-box {
    width: 100vw;
  }

  .menter-prof {
    font-size: 1.2rem;
  }

  .service h2 {
    margin-top: 50px;
  }

  .access h2 {
    margin-top: 50px;
  }

  .location-map {
    display: block;
    height: auto;
  }

  iframe {
    height: 100%;
  }

  .map {
    width: 100%;
  }

  .contact-wrap {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
  }
  .icon {
    margin: 0;
  }

  footer {
    padding-top: 10px;
  }

  .cat-index {
    font-size: 7rem;
  }

  .nav2 {
    display: none;
  }

  .box div {
    justify-content: center;
    width: 27vw;
    height: 27vw;
    font-size: 2rem;
  }

  #sistem-header img {
    background-size: cover;
  }

  .sistem-menu {
    margin-top: 50px;
  }

  .sistem-box {
    margin: 10px 30px;
  }

  .menu-wrap {
    display: block;
  }

  .free-img img {
    width: 100%;
    padding: 0;
  }

  .free-menu {
    width: 100%;
    padding-left: 0;
    white-space: nowrap;
  }

  .menu-list {
    font-size: 1.5rem;
    padding: 0 40px;
  }
  .menu-list2 {
    font-size: 1rem;
  }

  .accent {
    font-size: 2rem;
  }
  .note {
    width: 100%;
    border-top: 1px solid #000;
    margin: 0 10px;
    border-left: none;
  }
  .contact-block div {
    font-size: 1.2rem;
    display: flex;
  }

  .news {
    display: block;
    justify-content: center;
    margin: 0;
  }

  .news-title {
    margin: 0 auto;
  }

  .news-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .event-box {
    padding: 0;
  }

  .contact-title {
    font-size: 3rem;
  }

  .read {
    font-size: 1.6rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  label {
    font-size: 1.6rem;
    width: 100%;
  }

  input[type="submit"] {
    font-size: 2rem;
  }

  .event-wrap {
    margin: 0;
    display: block;
    flex-direction: column;
  }

  article {
    width: 100%;
  }

  .event-title {
    margin: 0 auto;
  }

  .event img {
    width: 100%;
    height: auto;
  }
  .news-title {
    width: 100%;
  }
}
